@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
h1,h2,h3,h4,h5,h6 p span{
    font-family: 'Montserrat';
}
header{
    background-color: #272121;
    border-bottom: 6px solid  #1C1818;
    position: fixed;
    width: 100%;
    top: 1%;
    z-index: 7;
}
.navbar-brand{
    object-fit: contain;
}
.navbar-brand img{
    height: 75px;
    width: 75px;
    object-fit: contain;
}
.nav-link{
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    margin: 10px;
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    width: 0%;
    background-color: orange;
    position: absolute;
    height: 3.24px;
    left: 0%;
    right: 0%;
    bottom: -57%;
    transition: 0.2s;
    background: #FF9900;
    }
    .nav-link:hover::after{
        width: 100%;
    }
.nav-link:hover{
    color: white;
}
.nav-link:focus{
    color: white;
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: white;
}
.form{
    padding: 3px;
    border-radius: 25px;
    background: #363333;
}
.form .input-group-text{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 14px;
}
.form-control{
    background-color: transparent;
    border: none;
}
.form-control:focus{
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border: none;
}
::placeholder{
    font-weight: 400;
     font-size: 16px;
    color: #CAB6B6 !important;
}
input[placeholder], 
[placeholder],
*[placeholder] {
    color: #CAB6B6 !important;
    
}
.side .icon img{
    object-fit: contain;
    margin-left: 20px;

}
/* header close  */
.slider .w-100{
    width: 100%;
}
.slider .carousel-caption {
    bottom: 190px;
    text-align: left;
}
.slider .carousel-caption h5{
    font-size: 45px;
    font-family: 700 !important;
    width: 50%;
    line-height: 55px;
    font-family: 'Montserrat';

}
.slider .carousel-caption p{
    font-weight: 600;
    font-size: 18px;
    width: 40%;
    line-height: 27px;
    padding-top: 8px;
}
.slider .carousel-caption button{
    width: 148.94px;
    height: 46.24px;
    background-color: #FF9900;
    color: white;
    font-weight: 600;
    border-radius: 5PX;
    outline: none;
    border: none;
}
.slider button.carousel-control-prev {
    TOP: 93%;
    LEFT: 72%;
}
.slider button.carousel-control-next {
    TOP: 93%;
    right: 180px;
}
.slider .fa-angle-left{
    padding: 15px 20px;
    background: #FF9900;
}
.slider .fa-angle-right{
    padding: 15px 20px;
    background: #FF9900;
}

.carousel-indicators [data-bs-target]{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
/* slider close  */
.section1{
    padding: 50px 0px 50px 0px;
    background: #272121;
}

.section1 .main-card .img img{
    object-fit: contain;
    width: 55.57px;
    height: 55.57px;
}

.section1 .main-card .fa-user{
    color: white;
    font-size: 32px;
    transition: 0.3s;
}
.section1 .main-card .fa-bag-shopping{
    color: white;
    font-size: 32px;
    transition: 0.3s;

}
.section1 .main-card i:hover{
    color: #FF9900;
    cursor: pointer;
}
.section1 .main-card .text h5{ 
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 19px;
    line-height: 34px;
    color: white;
    padding-top: 12px;
    line-height: 148%;
}
.section1 .main-card .text .Corem{
    font-family: 'Montserrat';
    font-weight: 500;
    color: #B3B3B3;
    font-size: 16px;
    padding-top: 3px;
    line-height: 24px;
}
/* section1 close  */

.section2{
    background-color: #373332;
    padding: 58px 0px 58px 0px;
}
.section2 .text-center h3{
    font-weight: 600;
    font-size: 32px;
    color: white;
    position: relative;
}
.section2 .text-center h3::after{
    height: 2px;
    content: '';
    position: absolute;
    background-color: #FF9900;
    width: 120.21px;
    height: 4.75px;
    left: 0%;
    right: 0%;
    bottom: -47%;
    margin: auto;
    display: block;
}

.section2 .style-card .img img{
    width: 100%;
    /* min-height: 400px; */
    object-fit: contain;
}
.section2 .style-card .text{
    padding-top: 8px !important;

}
.section2 .style-card .text p{
    font-size: 17px;
    font-weight: 600;
    color: #CAB6B6;
    position: 0PX;
    margin: 7PX 0PX;
    line-height: 149%;

}
.section2 .style-card .text .price-1{
    color: white;
    font-weight: 600;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
.section2 .style-card .text .price-2{
    font-weight: 600;
    font-size: 17px;
    color: #FF9900;
    padding-left: 13px;
    margin: 0px;
}
.section2 .style-card .text .price-3{
    font-weight: 600;
    font-size: 18px;
    color: #CAB6B6;
    padding-left: 15px;

}
.section2 .style-card .text .icon i{
    padding-top: 14px;
    color: #FF9900;
    font-size: 17px;
    margin: 2px;
}
.section2 .style-card .text .icon-2 i{
    color: #4E4A49;
}
.section2 .style-card .text .icon .one{
    color: #747474;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
}
.section2 .style-card{
    position: relative;
    margin-top: 5px;
    transition:0.2s;
}
.section2 .style-card:hover{
    cursor: no-drop;
}
.section2 .style-card .box{
    position: absolute;
    background-color:#FF9900;
    top: 0%;
    width: 47.84px;
    height: 19.57px;
}
.section2 .style-card .box span{
    font-weight: 600;
    font-size: 14px;
    color: white;
}
/* section2 close  */

.section3{
    min-height:500px;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.section3 .all-text h4{
    font-weight: 600;
    font-size: 34px;
    color: white;
    width: 80%;
    line-height: 42px;
}
.section3 .all-text p{
    font-weight: 600;
    font-size: 17px;
    width: 80%;
    line-height: 26px;
    color: white;
    padding-top: 10px;
}
.section3 .all-text button{
    width: 148.94px;
    height: 46.24px;
    background-color: #FF9900;
    color: white;
    font-weight: 600;
    border-radius: 5PX;
    outline: none;
    border: none;
}
.section3 .video{
    width: 75.04px;
    height:75.04px;
    object-fit: contain;
}
/* section3 close  */

.section4{
    padding: 50px 0px 50px 0px;
    background-color: #272121;
}
.section4 .wadding-img{
    margin: 15px;
}
.section4 .box-text{
    margin: 15px;
}
.section4 .wadding-img img{
    width: 100%;
    object-fit: contain;
}
.section4 .box-text h3{
    color: #CAB6B6;
    font-weight: 600;
    font-size: 29px;
}
.section4 .box-text .a{
    color: #CAB6B6;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    padding-top: 15px;
}
.section4 .box-text .page{
    color: #CAB6B6;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    padding-top: 10px;

}
.section4 .box-text button{
    width: 148.94px;
    height: 46.24px;
    background-color: #FF9900;
    color: white;
    font-weight: 600;
    border-radius: 5PX;
    outline: none;
    border: none;
}
/* section4 close  */
.section5{
    padding: 50px 0px 50px 0px;
    background: #424242;
}
.section5 .text-center h5{
    color: #CAB6B6;
    font-size: 32px;
    font-weight: 600;
    position: relative;
}
.section5 h5::after{
    height: 2px;
    content: '';
    position: absolute;
    background-color: #FF9900;
    width: 120.21px;
    height: 4.75px;
    left: 0%;
    right: 0%;
    bottom: -47%;
    margin: auto;
    display: block;
}
.section5 .style-card{
     position: relative;
     margin-top: 5px;
     transition:0.2s;
}
.section5 .style-card .img img{
    width: 100%;
    /* min-height: 400px; */
    object-fit: contain;
}
.section5 .style-card .text{
    padding-top: 8px !important;
}
.section5 .style-card .text .price-1{
    color: white;
    font-weight: 600;
    font-size: 23px;
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}
.section5 .style-card .text p{
    font-size: 17px;
    font-weight: 600;
    color: #CAB6B6;
    position: 0PX;
    margin: 7PX 0PX;
    line-height: 149%;
}
.section5 .style-card .text .price-2{
    font-weight: 600;
    font-size: 17px;
    color: #FF9900;
    padding-left: 13px;
    margin: 0px;
}
.section5 .style-card .text .price-3{
    font-weight: 600;
    font-size: 18px;
    color: #CAB6B6;
    padding-left: 15px;

}
.section5 .style-card .text .icon i{
    padding-top: 14px;
    color: #FF9900;
    font-size: 17px;
    margin: 2px;
}
.section5 .style-card .text .icon-2 i{
    color: #4E4A49;
}
.section5 .style-card .text .icon .one{
    color: #747474;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
}
.section5 .style-card .box{
    position: absolute;
    background-color:#FF9900;
    top: 0%;
    width: 47.84px;
    height: 19.57px;
}
.section5 .style-card .box span{
    font-weight: 600;
    font-size: 14px;
    color: white;
}
/* section5 close  */
.section6{
    padding: 50px 0px 50px 0px;
    min-height: 650px;
    background-image: url("../images/bg-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeats;
}
.section6 .text-center h4{
    font-weight: 600;
    font-size: 32px;
    color: black;
    position: relative;
    padding-bottom: 21px;
}
.section6 .text-center h4::after{
    height: 2px;
    content: '';
    position: absolute;
    background-color: #FF9900;
    width: 120.21px;
    height: 4.75px;
    left: 0%;
    right: 0%;
    bottom: -7%;
    margin: auto;
    display: block;
}
.section6 .style{
    padding: 35px;
    background-color: white;
    border-radius: 10px;
    border-bottom: 14px solid #FF9900;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section6 .style .img{
    position: absolute;
    left: 0%;
    right: 0%;
    top: -13%;
}
.section6 .style .img img{
    height: 85px;
    width: 85px;
    object-fit: contain;
}
.section6 .style .text h5{
    font-size: 21px;
    font-weight: 600;
    padding-top: 23px;
}
.section6 .style .text .icon-s{
    color: #FF9900;
    font-size: 17px;
    margin: 0.1px;
    padding-top:5px;
}
.section6 .style .text p{
    font-size: 17px;
    color: #3A3A3A;
    font-weight: 600;
    padding-top: 17px;
    line-height:26px;
}
.section6 .style .text .img-d{
    height: 65px;
    width: 65px;
    object-fit: contain;
    margin-top: 18px;
}
/* section6 close  */
.section7{
    padding: 50px 0px 50px 0px;
    background-color: #272121;
}
.section7 .text-center h4{
    font-weight: 600;
    font-size: 32px;
    color: white;
    position: relative;
    padding-bottom: 15px;
}
.section7 .text-center h4::after{
    height: 2px;
    content: '';
    position: absolute;
    background-color: #FF9900;
    width: 120.21px;
    height: 4.75px;
    left: 0%;
    right: 0%;
    bottom: -9%;
    margin: auto;
    display: block;
}
.section7 .edit-style .img img{
    width: 100%;
    object-fit: contain;
}
.section7 .edit-style{
    padding: 18px;
    border-radius: 10px;
    background-color: #373332;
    margin: 15px;
}
.section7 .edit-style .text{
    padding-top: 20px;
}
.section7 .edit-style .text h4{
    font-size: 21px;
    font-weight: 600;
    color: white;
}
.section7 .edit-style .text p{
    color: #E3E3E3;
    font-size: 16px;
    padding-top: 4px;
    line-height: 23px;
}
